<!-- Header -->


<header>

<div id="particles" class="behind">


    <div class="container front">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive animated fadeInRight" src="img/sp2.png" alt="">



                <div class="intro-text">
                    <span class="name">Hello!</span>
                    </br></br>

                    <span class="skills">I'm Sharvil. I'm a growing database developer with a desire to learn everything.<br>And whatever I learn or make, I will document it here.</span>

                    <!--<div><button type = "button" class = "btn btn-primary">Interactive Resume</button>
</div>
                    <div><button type = "button" class = "btn btn-primary">Personal Projects/Blogs</button>
</div>


                </div>-->
                </br></br>
                <div class="position-button-all">
                <div class="position-button1">
                <a href="resume.html" class="button-xLarge pink-button hvr-back-pulse" title="My Resume">Interactive Resume</a></div>
                <div class="position-button2">
                <a href="projects.html" class="button-xLarge pink-button hvr-back-pulse" title="My Projects">Personal Projects</a></div>
                <div class="position-button3">
                <a href="/blogs" class="button-xLarge pink-button hvr-back-pulse" title="My Blog">Personal Blog&nbsp;</a></div>
                </div>
<!--
                <div>
                    <a id="anchorID" class="anchorClick" href="#about"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                </div>
-->



            </div>
        </div>
    </div>
</div>
</header>


