<!-- Header -->


<header>

<div id="particles" class="behind">


    <div class="container front">
        <div class="row">
            <div class="col-lg-12">
                <img id="resize-myface" class="img-personal img-responsive animated fadeInRight" src="img/sp2.png" alt="">



                <div class="intro-text">
                    <span class="name">Hello!</span>
                    </br></br>

                    <span class="skills">My name is Sharvil. I love working on complex datasets.<br>I'm passionate about the field of Data Science.<br>I will be documenting my learnings and projects here</span>

                    <!--<div><button type = "button" class = "btn btn-primary">Interactive Resume</button>
</div>
                    <div><button type = "button" class = "btn btn-primary">Personal Projects/Blogs</button>
</div>


                </div>-->
                </br></br>
                <div id="position-button-all">
                
                <a href="resume.html" class="button-xLarge pink-button hvr-back-pulse" title="My Resume">Interactive Resume</a>
                
                <a href="projects.html" class="button-xLarge pink-button hvr-back-pulse" title="My Projects">Personal Projects</a>
                
                <a href="/blogs" class="button-xLarge pink-button hvr-back-pulse" title="My Blog">Personal Blog&nbsp;</a>
                </div>
<!--
                <div>
                    <a id="anchorID" class="anchorClick" href="#about"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                </div>
-->



            </div>
        </div>
    </div>
</div>
</header>


