<!-- Header -->


<header>

<div id="particles" class="behind">


    <div class="container front">
        <div class="row">
            <div class="col-lg-12">
                <img id="resize-myface" class="img-personal img-responsive animated fadeInRight" src="img/sp33.png" alt="">



                <div class="intro-text">
                    <span class="name">Hello!</span>
                    </br></br>

                    <span class="skills">I'm Sharvil, Analytics/BI Developer

                    <!--

19/03

</br><span class="rw-words rw-words-1">
<span>BI developer</span>
                        <span>Opensource Enthusiast</span>
                        <span>Analytics Developer</span>
                     

</span></br>

/19/03




                    <br>



<center><span class="rw-words rw-words-1">
<span>BI developer</span>
                        <span>Opensource Enthusiast</span>
                        <span>Analytics Developer</span>
                     

</span></center>-->

                    <br>I'm passionate about the field of Data Science.<br>I will be documenting my learnings and projects here</span>

                    <!--<div><button type = "button" class = "btn btn-primary">Interactive Resume</button>
</div>
                    <div><button type = "button" class = "btn btn-primary">Personal Projects/Blogs</button>
</div><span class="rw-words rw-words-1">
                        <span>Web Designer</span>
                        <span>Web Developer</span>
                        <span>Graphic Designer</span>
                    </span>


                </div>-->
                </br></br>
                <div id="position-button-all">

                <a href="resume.html" class="button-xLarge pink-button hvr-back-pulse" title="My Resume">Interactive Resume</a>

                <a href="#portfolio" class="button-xLarge pink-button hvr-back-pulse" title="My Projects">Personal Projects</a>

                <a href="/blogs" class="button-xLarge pink-button hvr-back-pulse" title="My Blog">Personal Blog&nbsp;</a>
                </div>
<!--
                <div>
                    <a id="anchorID" class="anchorClick" href="#about"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                </div>
-->



            </div>
        </div>
    </div>
</div>
</header>
