<!-- Portfolio Grid Section -->
    <section id="portfolio" class="port-bg-color">
        <div class="container text-port-color">



<div class="row">
            <div class="col-lg-12 text-center ">
              <h2>Code</h2>
              </br>
              <p><strong>Knowledge and Experience - Most of my experience is in data prep, analysis and visualizations using varied tools either on-premises or on Cloud</strong></p>
              <hr>
            </div>
        </div>

<!--

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="font-size: 30px;">Featured Projects</h2>
                    <hr>
                </div>
            </div>

            
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>
                                      <span>{{ post.title }}</span>
                                </div>
                            </div>
                            <img src="{{ post.img }}" class="img-responsive2" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div> -->




            <div class="row listfontpsize">
            <div class="col-md-4">
            <h3>Analytics & Visualizations</h3>
            <ul>
            <li><a href="http://www.tableau.com">Tableau</a> - Intermediate</li>
            <li><a href="https://www.salesforce.com/au/products/einstein/overview/">Salesforce Einstein Analytics</a> - Intermediate</li>
            <li><a href="https://products.office.com/en-au/excel">Excel</a> - Advanced</li>
            <li><a href="https://powerbi.microsoft.com/en-us/">Power BI</a> - Advanced</li>
            <li><a href="https://en.wikipedia.org/wiki/SQL_Server_Reporting_Services">Microsoft SQL Server Reporting Services</a> - Advanced</li>
            </ul>
            </div>
            <div class="col-md-4">
            <h3>Integration & Automation Languages</h3>
            <ul>
            <li><a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#/JAVA</a> - Advanced</li>
            <li><a href="https://en.wikipedia.org/wiki/C%2B%2B">C/C++</a> - Competent</li>
            <li><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> - Advanced</li>
            <li><a href="https://en.wikipedia.org/wiki/Visual_Basic_for_Applications">VBA</a> - Advanced</li>
            <li><a href="https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_intro_what_is_apex.htm">Apex</a> - Advanced</li>
            <li><a href="https://en.wikipedia.org/wiki/Squirrel_(programming_language)">Squirrel</a> - Competent</li>
            </ul>
            </div>
            <div class="col-md-4">
            <h3>Database, Statistics & Cloud Tech</h3>
            <ul>
            <li><a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server">SQL Server </a> - Advanced</li>
            <li><a href="https://en.wikipedia.org/wiki/NoSQL">JSON Querying (NoSQL)</a> - Advanced</li>
            <li><a href="https://azure.microsoft.com/en-au/">Microsoft Azure</a> - Medium</li>
            <li><a href="https://nodejs.org/en/">Node.JS</a> - Competent</li>
            <li><a href="https://www.postgresql.org/">MySQL/PostgreSQL</a> - Competent</li>
            <li><a href="https://www.mathworks.com/products/matlab.html">Matlab/Octave</a> - Competent</li>
            </ul>
            </div>
                        <div class="col-md-4">
            <h3>Other Skills</h3>
            <ul>
            <li><a href="https://www.linux.org/">Linux Programming</a> - Competent</li>
            <li><a href="https://www.raspberrypi.org/">Raspberry Pi</a> - Advanced</li>
            <li><a href="https://www.seleniumhq.org/">Selenium/Beautiful Soup</a> - Advanced</li>
            </ul>
            </div>
        </div>


        </div>

    </section>
