<!DOCTYPE html>
<html>
  {% include loader.html %}
  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}

    





</br></br></br></br></br>

</br>
<div class="position-resume-canvas">
<button id="decade" class="buttonresume">Skills Split</button>
<button id="combine" class="buttonresume">Combine</button>
</br>
</br>
<div class="col-lg-12 text-center"><p>Following Bubble chart shows the skills that I possess. Size of the bubble represents my level in a particular skill. Press the button 'Skill Spilt' to split the bubbles in their corresponding buckets</p></div>
</br>
<div id="chart"></div>
</div>
<!--<section>Details about interactive resume</section>-->
    </br></br></br>



    {% include footer.html %}

    {% include modals.html %}



    {% include javascript.html %}

  </body>

</html>
