<!DOCTYPE html>
<html>
  {% include loader.html %}
  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}

    





</br></br></br></br></br></br></br></br></br>
<div class="position-resume-canvas">
<button id="decade" class="button-xLarge">Skills Split</button>
<button id="combine" class="button-xLarge">Combine</button>
<div id="chart"></div>
</div>
<!--<section>Details about interactive resume</section>-->
    </br></br></br>



    {% include footer.html %}

    {% include modals.html %}



    {% include javascript.html %}

  </body>

</html>
